<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Descripcion</title>
  </head>

  <body>
    <h1>Descripcion del Proyecto</h1>
    <div>ID: {{desc.id}}</div>
    <div>Nombre: {{desc.nombre}}</div>
    <div>Inicio: {{desc.fecha_inicio}}</div>
    <div>Fin: {{desc.fecha_fin}}</div>
    <div>Mision: {{desc.mision}}</div>
    <div>Vision: {{desc.vision}}</div>
    <div>Objetivo: {{desc.objetivo}}</div>
    <div>Espectativa: {{desc.espectativa}}</div>
    <div>Descripcion: {{desc.descripcion}}</div>
    <a href="http://127.0.0.1:8000/">Regresar a inicio</a>
    
  </body>
</html>
