<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../static/css/styles.css">
  <title>CENTRO CULTURAL NUCLEO</title>
</head>
<body>
  <div class="container-form">
    <h1>Contactanos</h1>

    <!-- Aquí va el contenido principal de la página -->
    <form id="contact-form">
    <div class="form-group">
      <label for="correo">Correo:</label>
      <input type="email" id="correo" name="correo" required>
    </div>
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" name="nombre" required>
    </div>
    <div class="form-group">
      <label for="telefono">Teléfono:</label>
      <input type="tel" id="telefono" name="telefono" required>
    </div>
    <div class="form-group">
      <label for="mensaje">Mensaje:</label>
      <textarea id="mensaje" name="mensaje" required></textarea>
    </div>
    <div class="form-group">
      <label class="terms-label" for="terminos">Términos y condiciones:</label>
      <div class="checkbox-buttons">
        <input type="checkbox" id="terminos" name="terminos" required>
        <label for="terminos" class="checkbox-label">Acepto los términos y condiciones</label>
        <button type="button" class="terms-btn">Ver términos</button>
      </div>
    </div>
    <div class="form-group">
      <label class="terms-label" for="terminos-uso">Términos de uso:</label>
      <div class="checkbox-buttons">
        <input type="checkbox" id="terminos-uso" name="terminos-uso" required>
        <label for="terminos-uso" class="checkbox-label">Acepto los términos de uso</label>
        <button type="button" class="terms-btn">Ver términos</button>
      </div>
    </div>
    <div class="buttons">
      <button type="button" id="submit-btn">Enviar</button>
    </div>

  </form>

  </div>

<div class="contact-info">
      <div class="column">
        <h3>Ubícanos en:</h3>
        <p>Av. Túpac Amaru 280, Lima 15333 UNI, S4 -106,</p>
      </div>
      <div class="column">
        <h3>Telefónica:</h3>
        <p>950 217 878</p>
      </div>
      <div class="column">
        <h3>Nuestro Correo:</h3>
        <p>ccnucleo.fiis@uni.edu.pe</p>
      </div>
    </div>
  </div>
</body>
<footer>
  <div class="container">
    <div class="column">
      <h3>Acerca de nucleo</h3>
      <ul>
        <li><a href="#">Mision y vision</a></li>
        <li><a href="#">Organigrama</a></li>
        <li><a href="#">Estatuto</a></li>
      </ul>
    </div>
    <div class="column">
      <h3>Eventos</h3>
      <ul>
        <li><a href="#">Últimos eventos</a></li>
        <li><a href="#">Eventos próximos</a></li>
      </ul>
    </div>
    <div class="column">
      <h3>Comisiones</h3>
      <ul>
        <li><a href="#">Comisiones del año</a></li>
        <li><a href="#">Ultimas comisiones</a></li>
        <li><a href="#">Pequeñas comisiones</a></li>
      </ul>
    </div>
    <div class="column">
      <h3>Testimonios</h3>
      <ul>
        <li><a href="#">Destacados</a></li>
        <li><a href="#">Recientes</a></li>
        <li><a href="#">Pasados</a></li>
        <li><a href="#">Junta actual</a></li>
      </ul>
    </div>
    <div class="column">
      <h3>Redes sociales</h3>
      <ul>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Youtube</a></li>
        <li><a href="#">Linkedin</a></li>
        <li><a href="#">Tiktok</a></li>
        <li><a href="#">Instagram</a></li>
      </ul>
    </div>
  </div>
</footer>
</html>